<div class="form-group" *ngIf="couldHaveDependent()">
  <label for="dependent-count">Количество детей</label>
  <input id="dependent-count"
         class="form-control"
         [formControl]="resumeForm.get('dependent_count')">
  <div *ngIf="resumeForm.get('dependent_count').invalid && (resumeForm.get('dependent_count').dirty || resumeForm.get('dependent_count').touched)"
       class="alert alert-danger">
    <div *ngIf="resumeForm.get('dependent_count').errors.pattern">
      Недопустимый формат
    </div>

    <div *ngIf="resumeForm.get('dependent_count').errors.server">
      {{resumeForm.get('dependent_count').errors.server}}
    </div>

  </div>

</div>
