<div class="form-group">
  <label for="gender">Пол</label><br>
  <mat-radio-group [formControl]="resumeForm.get('gender')" id="gender">
    <mat-radio-button class="col-md-12"
                      *ngFor="let item of resumeModel.gender_list" value="{{item.id}}">
      {{item.value}}
    </mat-radio-button>
  </mat-radio-group>

  <div *ngIf="resumeForm.get('gender').invalid && (resumeForm.get('gender').dirty || resumeForm.get('gender').touched)"
       class="alert alert-danger">

    <div *ngIf="resumeForm.get('gender').errors.required">
      Необходимо выбрать пол.
    </div>

    <div *ngIf="resumeForm.get('gender').errors.server">
      {{resumeForm.get('gender').errors.server}}
    </div>
  </div>

</div>
