<div class="form-group" *ngIf="couldHavePartner()">
  <label for="partner_state">Семейное положение</label><br>
    <mat-checkbox [formControl]="resumeForm.get('partner_state')" id="partner_state" class="form-controll">Женат/замужем</mat-checkbox>

  <div *ngIf="resumeForm.get('partner_state').invalid && (resumeForm.get('partner_state').dirty || resumeForm.get('partner_state').touched)"
       class="alert alert-danger">
    <div *ngIf="resumeForm.get('partner_state').errors.server">
      {{resumeForm.get('partner_state').errors.server}}
    </div>
  </div>
</div>
