<div class="form-group">
  <label for="birthdate">Дата рождения</label><br>
  <input [formControl]="resumeForm.get('birthdate')"
    id="birthdate" class="form-controll" matInput [matDatepicker]="picker" placeholder="Выбрать дату">
  <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
  <mat-datepicker #picker></mat-datepicker>

  <div *ngIf="resumeForm.get('birthdate').invalid && (resumeForm.get('birthdate').dirty || resumeForm.get('birthdate').touched)"
       class="alert alert-danger">

      <div *ngIf="resumeForm.get('birthdate').errors.server">
          {{resumeForm.get('birthdate').errors.server}}
      </div>

  </div>
</div>

