<div class="container">
  <div class="row justify-content-md-center" *ngIf="showStepOne()">

      <form [formGroup]="resumeForm" (ngSubmit)="onSubmit()">
        <div class="row">
          <div class="col-12">
            <app-initials-editor [resumeForm]="resumeForm"></app-initials-editor><br>
          </div>
        </div>
        <div class="row">
          <div class="col-12">
            <app-email-editor [resumeForm]="resumeForm"></app-email-editor>
          </div>
        </div>

        <div class="row">
          <div class="col-6"><app-gender-editor [resumeForm]="resumeForm" [resumeModel]="resumeModel"></app-gender-editor></div>
          <div class="col-6"><app-birthdate-editor [resumeForm]="resumeForm"></app-birthdate-editor></div>
        </div>
        <div class="row">
          <div class="col-12">
              <app-partner-state-editor [resumeForm]="resumeForm" [resumeModel]="resumeModel"></app-partner-state-editor>
          </div>
        </div>
        <div class="row">
          <div class="col-12">
            <app-dependent-count-editor [resumeForm]="resumeForm"></app-dependent-count-editor>
          </div>
        </div>

        <button type="submit">Submit</button>
      </form>
  </div>

  <div class="row" *ngIf="showStepTwo()">
    <h2>Резюме сохранено</h2>
    <div *ngFor="let item of this.resumeModel.getFieldValueList()" class="col-md-12">
      {{item}}
    </div>
  </div>


</div>

