<div class="form-group">
    <label for="initials">ФИО</label>
    <input id="initials" class="form-control"
           [formControl]="resumeForm.get('initials')">

    <div *ngIf="resumeForm.get('initials').invalid && (resumeForm.get('initials').dirty || resumeForm.get('initials').touched)"
         class="alert alert-danger">

        <div *ngIf="resumeForm.get('initials').errors.required">
            Необходимо заполнить поле ФИО.
        </div>
        <div *ngIf="resumeForm.get('initials').errors.pattern">
            Недопустимые символы
        </div>

        <div *ngIf="resumeForm.get('initials').errors.server">
            {{resumeForm.get('initials').errors}}
        </div>

    </div>
</div>
