<div class="form-group">
  <label for="email">email</label>
  <input id="email" class="form-control"
         [formControl]="resumeForm.get('email')">

  <div *ngIf="resumeForm.get('email').invalid && (resumeForm.get('email').dirty || resumeForm.get('email').touched)"
       class="alert alert-danger">

    <div *ngIf="resumeForm.get('email').errors.required">
      Необходимо заполнить поле email.
    </div>
    <div *ngIf="resumeForm.get('email').errors.email">
      Недопустимый формат
    </div>
    <div *ngIf="resumeForm.get('email').errors.server">
      {{resumeForm.get('email').errors.server}}
    </div>

  </div>
</div>
